<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SDD Framework - Spec Driven QA Suite" parallel="false" verbose="1">
    <test name="Spec-Driven Automation Tests">
        <classes>
            <class name="com.sdd.runners.TestRunner"/>
        </classes>
    </test>
</suite>
